<h2>Boletim - {{aluno.nome}}</h2> <!--1-->

<div class="card mt-4">
    <h4>Notas</h4>
    <small>Nota JavaScript: {{aluno.javascript}}</small>
    <small>Nota HTML: {{aluno.html}}</small>
    <small>Nota CSS: {{aluno.css}}</small>
    <small>Nota Node.js: {{aluno.node_js}}</small>
    <small>Nota React: {{aluno.react}}</small><br>
    <h6>Média: {{aluno.media}}</h6>
</div>